/* Layout */
.login-page {
  font-family: 'Roboto Mono', monospace;
  color: #666851;
  background-color: #b0b3a5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  position: relative;   
}

.login-header {
  position: absolute;
  top: 8px;
  left: 44px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.login-logo {
  width: 40px;
}

.login-title {
  font-size: 1.5rem;
  font-weight: 400;
  color: black;
}

/* Box */
.login-box {
  background-color: #f4f1e8;
  padding: 48px;
  border-radius: 24px;
  width: 787.5px;
  height: 560px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  box-sizing: border-box;
}

/* Input */
.login-input {
  width: 490px;
  height: 61px;
  padding: 14px 20px;
  border: 1px solid #999;
  border-radius: 16px;
  background-color: transparent;
  margin-bottom: 24px;
  font-family: monospace;
  font-size: 1.5rem;
}

/* Buttons */
.login-buttons {
  display: flex;
  width: 400px;
  height: 46px;
  gap: 20px;
  margin-bottom: 5px;
}

.login-btn {
  flex: 1;
  background-color: #b0b3a5;
  color: #666851;
  text-align: center;
  padding: 6px;
  border: none;
  border-radius: 999px;
  cursor: pointer;
  font-family: 'Roboto Mono', monospace;
  text-decoration: none;
  font-size: 1.5rem;
}

/* Divider */
.divider {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  margin: 24px 0;
  color: #666851;
  font-size: 0.95rem;
}

.divider hr {
  flex: 1;
  border: none;
  border-top: 1px solid #666851;
}

/* Social login */
.social-btn {
  display: flex;
  align-items: center;
  gap: 14px;
  margin: 14px 0;
  font-family: 'Roboto Mono', monospace;
  color: #666851;
  text-decoration: none;
  font-size: 1rem;
}

.social-icon {
  font-size: 20px;
  background-color: #d9d9d9;
  border-radius: 50%;
  padding: 6px;
  color: #666851;
}


