:root {
  --collection-1-color: rgba(29, 78, 82, 1);
  --collection-1-color-2: rgba(27, 65, 64, 1);
  --collection-1-color-3: rgba(176, 179, 168, 1);
  --collection-1-color-4: rgba(26, 45, 71, 1);
  --collection-1-color-5: rgba(2, 2, 36, 1);
}
